body {
    padding: 20px;
    background: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }

  .add-form {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

  }
  #fields {
      display: flex;
      flex-direction: column;
  }

    #addButton {
        margin-top: 15px;
        
    }
  #editForm {
      display: none;
  }

  #listWords {
      list-style: none;
  }

  #title {
      margin-left: auto;
      margin-right: auto;
  }